{% include 'header.html' %}
<link rel="stylesheet" href="media/css/main.css" type="text/css"/>
<link rel="stylesheet" href="media/css/header.css" type="text/css"/>
<script  type="text/javascript"  src="media/js/jquery.js"></script>
<script  type="text/javascript"  src="media/js/bannerdraw.js"></script>
</head>
<header id="banner" class="body">
<aside id="banner2">

<h1 id="titletext"><a href="/">{{ headname }}</a></h1>
</aside>
<aside id="banner3" class="banner3">
<h1 class="bar3text">Jnmc</h1>
</aside>
</header>
<body>

<aside id="vote" >
<h1 id="votetext" class="text"><a href="vote.html">Vote</a></h1>
</aside>
<aside id="upload" >
<h1 id="uploadtext" class="text"><a href="/upload">Upload</a></h1>
</aside>


{% include 'nav.html'%}

 
</body>









</html>

