<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">

<title>{{ sitetitle }}</title>
<link rel="stylesheet" href="media/css/main.css" type="text/css"/>
<link rel="stylesheet" href="media/css/header.css" type="text/css"/>
<script  type="text/javascript"  src="media/js/jquery.js"></script>
<script  type="text/javascript"  src="media/js/bannerdraw.js"></script>
</head>
<header id="banner" class="body">
<aside id="banner2">

<h1 id="titletext"><a href="index.html">Beauty around Us</a></h1>
</aside>
<aside id="banner3" class="banner3">
<h1 class="bar3text">Jnmc</h1>
</aside>
</header>
<body>

<aside id="vote" >
<h1 id="votetext" class="text"><a href="vote.html">Vote</a></h1>
</aside>
<aside id="upload" >
<h1 id="uploadtext" class="text"><a href="upload.html">Upload</a></h1>
</aside>


<aside id="nav">

<aside id="nav1" class="nav">
<h1 id="about" class="navtext"><a href="about.html">About</a></h1>
</aside>
<aside id="nav2" class="nav">
<h1 id="about" class="navtext"><a href="top.html">Top</a></h1>
</aside>
<aside id="nav3" class="nav">
<h1 id="about" class="navtext"><a href="rate.html">Rate</a></h1>
</aside>
<aside id="nav4" class="nav">
<h1 id="about" class="navtext"><a href="info.html">Info</a></h1>
</aside>
</aside>

 
</body>









</html>

