{% include 'header.html' %}

<link rel="stylesheet" href="/static/css/top.css">


</head>
{% include 'topbar.html' %}

<div id = "bigbong">

<div id="upload">
<div id="uploadform">

<img src="/media/image/{{ no1 }}"  alt="1"  height="50%" class="pic">
<img src="/media/image/{{ no2 }}"  alt="2"  height="50%" class="pic">
<img src="/media/image/{{ no3 }}"  alt="3"  height="50%" class="pic">
<img src="/media/image/{{ no4 }}"  alt="4"  height="50%" class="pic">
<img src="/media/image/{{ no5 }}"  alt="5"  height="50%" class="pic">
<img src="/media/image/{{ no6 }}"  alt="6"  height="50%" class="pic">
<img src="/media/image/{{ no7 }}"  alt="7"  height="50%" class="pic">
<img src="/media/image/{{ no8 }}"  alt="8"  height="50%" class="pic">

</div>
</div>
{% include 'nav.html'%}
</div>

</body>









</html>

