{% include 'header.html' %}

<link rel="stylesheet" href="/static/css/upload.css">


</head>

{% include 'topbar.html' %}
<div id = "bigbong">
<div id="upload">
<div id="uploadform">
<div id="nametext">
<p>Name:</p>
<p>DESC.:</p>
<p>Photo:</p>
</div>
<div id="nameform">
<form action="/upload/" enctype="multipart/form-data" method="post">
<input name="girlname" class="textinput" type="text">
<input name="description" class="textinput" type="text">
<input name="image" multiple="multiple" class="choosefile" type="file">
<input value="Upload" class="uploadbtn" type="submit">
</form>
</div>
</div>
</div>


{% include 'nav.html'%}
 </div>
</body>









</html>

