<!DOCTYPE html>
<html>
	<head>
		<meta charset=UTF-8">
		<title>{{ sitetitle }}</title>
		<link rel="stylesheet" href="http://localhost/media/css/main.css">
		<link rel="stylesheet" href="http://localhost/media/css/header.css">
		<link rel="stylesheet" href="http://localhost/media/css/upload.css">
		<script type="text/javascript" src="http://localhost/media/js/jquery.js"></script>
		<script type="text/javascript" src="http://localhost/media/js/bannerdraw.js"></script>

	</head>
	<body>
		
	<header id="banner" class="body">
		<aside id="banner2">
			<h1 id="titletext"><a href="/">{{ headname }}</a></h1>
		</aside>
		
		<aside id="banner3">
			<h1 class="bar3text">Jnmc</h1>
		</aside>
	</header>
	
	
	<aside id="upload">
		<aside id="uploadform">
			<aside id="nametext">
				<p>Name:</p>
				<p>DESC.:</p>
				<p>Photo:</p>
			</aside>
			<aside id="nameform">
				<form action="/upload" enctype="multipart/form-data" method="post">
				<input name="girlname" class="textinput" type="text">
				<input name="description" class="textinput" type="text">
				<input name="image" multiple="multiple" class="choosefile" type="file">
				<input value="Upload" class="uploadbtn" type="submit">
				</form>
			</aside>
		</aside>
	</aside>


{% include 'nav.html'%}
 
</body>









</html>

