{% include 'header.html' %}
<link rel="stylesheet" href="/static/css/vote.css">
<script type="text/javascript">
function alart(){
	
	alert('Hello thanks a lot for choosing me ^^');
	
	}
</script>
</head>
<header id="banner" class="body">
<aside id="banner2">

<h1 id="titletext"><a href="/">{{ headname }}</a></h1>
</aside>
<aside id="banner3" class="banner3">
<h1 class="bar3text">Jnmc</h1>
</aside>
</header>
<body>

<aside id="girlA" >
<form NAME= "girlaforma" action="/vote/" enctype="multipart/form-data" method="post">
<input name="fileid" value = "{{ file }}" type="image" src="/media/image/{{ girlA }}"  alt="girla"  height="100%"  id="girlApic" class="pic"  onclick= "alart(); "  > 
</form>
</aside>
<aside id="girlB" >
<form NAME= "girlaformb" action="/vote/" enctype="multipart/form-data" method="post">
<input name="fileid2" value = "{{ file2 }}" type="image" src="/media/image/{{ girlB }}"  alt="girlb"  height="100%"  id="girlApic" class="pic"  onclick= "alart();"  > 
</form>
</aside>


{% include 'nav.html'%}

 
</body>
</html>

