{% include 'header.html' %}
<link rel="stylesheet" href="/static/css/vote.css">
<script type="text/javascript">
function alart(){
	
	alert('hello thank you for choose me');
	
	}
</script>
</head>
<header id="banner" class="body">
<aside id="banner2">

<h1 id="titletext"><a href="/">{{ headname }}</a></h1>
</aside>
<aside id="banner3" class="banner3">
<h1 class="bar3text">Jnmc</h1>
</aside>
</header>
<body>

<aside id="girlA" class="pic">
<form NAME= "girlaforma" action="/votea/" enctype="multipart/form-data" method="post">
<input name="{{ file }}" type="image" src="/media/image/{{ girlA }}"  alt="girla"  height="100%"  id="girlApic" class="pic"  onclick= "javascript:document.girlforma.submit() "  > 
</form>
</aside>
<aside id="girlB" class="pic">
<form NAME= "girlaformb" action="/voteb/" enctype="multipart/form-data" method="post">
<input type="image" src="/media/image/{{ girlB }}"  alt="girlb"  height="100%"  id="girlApic" class="pic"  onclick= "javascript:document.girlformb.submit() "> 
</form>
</aside>


{% include 'nav.html'%}

 
</body>
</html>

