{% include 'header.html' %}
<link rel="stylesheet" href="/static/css/vote.css">
<script type="text/javascript">
function alart(){
	
	alert('hello thank you for choose me');
	
	}
</script>
</head>
<header id="banner" class="body">
<aside id="banner2">

<h1 id="titletext"><a href="/">{{ headname }}</a></h1>
</aside>
<aside id="banner3" class="banner3">
<h1 class="bar3text">Jnmc</h1>
</aside>
</header>
<body>

<aside id="girlA" class="pic">
<a href="#" onclick="alart();" ><img src="/media/image/{{ girlA }}"  alt="girl"  height="100%"  id="girlApic" class="pic" /></a>
</aside>
<aside id="girlB" class="pic">
<a href="#" onclick="alart();" ><img src="/media/image/{{ girlB }}"  alt="girl"  height="100%"  id="girlBpic" class="pic"/></a>
</aside>


{% include 'nav.html'%}

 
</body>
</html>

